In [1]:
!pyspark --version

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.2.1-bin-hadoop3.2/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Welcome to
      ____              __
     / __/__  ___ _____/ /__
    _\ \/ _ \/ _ `/ __/  '_/
   /___/ .__/\_,_/_/ /_/\_\   version 3.2.1
      /_/

Using Scala version 2.12.15, OpenJDK 64-Bit Server VM, 11.0.13
Branch HEAD
Compiled by user hgao on 2022-01-20T19:26:14Z
Revision 4f25b3f71238a00508a356591553f2dfa89f8290
Url https://github.com/apache/spark
Type --help for more information.

environment check âœ…

In [2]:
from pyspark.sql import SparkSession
spark = (SparkSession.builder
    .master("local")
    .appName("hw4")
    .getOrCreate())

In [3]:
spark

Directions
0. Download the file from the above site or that's attached here.  Save it in the same directory as your notebook using the default name Part1_crime_data.csv
1. Specify the schema for the crime data set. (https://sparkbyexamples.com/pyspark/pyspark-structtype-and-structfield/)
2. Read the file using the schema definition
3. Cache the DataFrame (https://sparkbyexamples.com/spark/spark-dataframe-cache-and-persist-explained/)
4. Show the count of the rows
5. Print the schema
6. Display first 5 rows

In [4]:
from pyspark.sql.types import *

In [5]:
schema = [StructField("X", DoubleType(), True),
 StructField("Y", DoubleType(), True),
 StructField("RowID", IntegerType(), True),
 StructField("CrimeDateTime", TimestampType(), True),
 StructField("CrimeCode", StringType(), True),
 StructField("Location", StringType(), True),
 StructField("Description", StringType(), True),
 StructField("Inside_Outside", StringType(), True),
 StructField("Weapon", StringType(), True),
 StructField("Post", IntegerType(), True),
 StructField("District", StringType(), True),
 StructField("Neighborhood", StringType(), True),
 StructField("Latitude", DoubleType(), True),
 StructField("Longitude", DoubleType(), True),
 StructField("GeoLocation", StringType(), True),
 StructField("Premise", StringType(), True),
 StructField("VRIName", StringType(), True),
 StructField("Total_Incidents", IntegerType(), True)]

In [6]:
df1 = spark.read.csv('Part1_Crime_data.csv', header=True, schema=StructType(schema), timestampFormat='yyyy/MM/dd HH:mm:ssX')

In [7]:
df1.persist()

DataFrame[X: double, Y: double, RowID: int, CrimeDateTime: timestamp, CrimeCode: string, Location: string, Description: string, Inside_Outside: string, Weapon: string, Post: int, District: string, Neighborhood: string, Latitude: double, Longitude: double, GeoLocation: string, Premise: string, VRIName: string, Total_Incidents: int]

In [8]:
df1.count()

513158

In [9]:
df1.printSchema()

root
 |-- X: double (nullable = true)
 |-- Y: double (nullable = true)
 |-- RowID: integer (nullable = true)
 |-- CrimeDateTime: timestamp (nullable = true)
 |-- CrimeCode: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Inside_Outside: string (nullable = true)
 |-- Weapon: string (nullable = true)
 |-- Post: integer (nullable = true)
 |-- District: string (nullable = true)
 |-- Neighborhood: string (nullable = true)
 |-- Latitude: double (nullable = true)
 |-- Longitude: double (nullable = true)
 |-- GeoLocation: string (nullable = true)
 |-- Premise: string (nullable = true)
 |-- VRIName: string (nullable = true)
 |-- Total_Incidents: integer (nullable = true)

In [10]:
df1.show(5,truncate=False)

+----------------+----------------+-----+-------------------+---------+-------------------+--------------+--------------+-------+----+---------+----------------+--------+---------+------------------+---------------+------------+---------------+
|X               |Y               |RowID|CrimeDateTime      |CrimeCode|Location           |Description   |Inside_Outside|Weapon |Post|District |Neighborhood    |Latitude|Longitude|GeoLocation       |Premise        |VRIName     |Total_Incidents|
+----------------+----------------+-----+-------------------+---------+-------------------+--------------+--------------+-------+----+---------+----------------+--------+---------+------------------+---------------+------------+---------------+
|1420074.13302107|594160.602354662|1    |2022-02-26 04:00:00|4E       |200 W MONUMENT ST  |COMMON ASSAULT|null          |NA     |124 |CENTRAL  |MOUNT VERNON    |39.2975 |-76.6193 |(39.2975,-76.6193)|null           |null        |1              |
|1411374.22509631|589791.383964529|2    |2022-02-26 01:26:30|9S       |2100 FREDERICK AVE |SHOOTING      |Outside       |FIREARM|835 |SOUTHWEST|CARROLLTON RIDGE|39.2856 |-76.6501 |(39.2856,-76.6501)|COMMON BUSINESS|Tri-District|1              |
|1411401.16887136|582761.775193539|3    |2022-02-26 10:22:00|4E       |2000 GRINNALDS AVE |COMMON ASSAULT|null          |NA     |831 |SOUTHWEST|MORRELL PARK    |39.2663 |-76.6501 |(39.2663,-76.6501)|null           |null        |1              |
|1422663.14365552|597595.359444412|4    |2022-02-26 01:11:00|7A       |400 E OLIVER ST    |AUTO THEFT    |null          |NA     |313 |EASTERN  |GREENMOUNT WEST |39.3069 |-76.6101 |(39.3069,-76.6101)|null           |null        |1              |
|1440496.49709374|607767.144994879|5    |2022-02-26 12:30:00|4B       |5300 PLAINFIELD AVE|AGG. ASSAULT  |null          |KNIFE  |444 |NORTHEAST|FRANKFORD       |39.3346 |-76.5469 |(39.3346,-76.5469)|null           |null        |1              |
+----------------+----------------+-----+-------------------+---------+-------------------+--------------+--------------+-------+----+---------+----------------+--------+---------+------------------+---------------+------------+---------------+
only showing top 5 rows

Answer following questions using PySpark
1. What are distinct crime codes?
2. Count the number of crimes by the crime codes and order by the resulting counts in descending order
3. Which neighborhood had most crimes?
4. Which month of the year had most crimes?
5. What weapons were used? 
6. Which weapon was used the most?

In [11]:
df1.select('CrimeCode').distinct().sort('CrimeCode').collect()

[Row(CrimeCode='1A'),
 Row(CrimeCode='1K'),
 Row(CrimeCode='1O'),
 Row(CrimeCode='2A'),
 Row(CrimeCode='2B'),
 Row(CrimeCode='3AF'),
 Row(CrimeCode='3AJF'),
 Row(CrimeCode='3AJK'),
 Row(CrimeCode='3AJO'),
 Row(CrimeCode='3AK'),
 Row(CrimeCode='3AO'),
 Row(CrimeCode='3B'),
 Row(CrimeCode='3BJ'),
 Row(CrimeCode='3C'),
 Row(CrimeCode='3CF'),
 Row(CrimeCode='3CK'),
 Row(CrimeCode='3CO'),
 Row(CrimeCode='3D'),
 Row(CrimeCode='3E'),
 Row(CrimeCode='3EF'),
 Row(CrimeCode='3EK'),
 Row(CrimeCode='3EO'),
 Row(CrimeCode='3F'),
 Row(CrimeCode='3GF'),
 Row(CrimeCode='3GK'),
 Row(CrimeCode='3GO'),
 Row(CrimeCode='3H'),
 Row(CrimeCode='3J'),
 Row(CrimeCode='3JF'),
 Row(CrimeCode='3JK'),
 Row(CrimeCode='3JO'),
 Row(CrimeCode='3K'),
 Row(CrimeCode='3L'),
 Row(CrimeCode='3LF'),
 Row(CrimeCode='3LK'),
 Row(CrimeCode='3LO'),
 Row(CrimeCode='3M'),
 Row(CrimeCode='3N'),
 Row(CrimeCode='3NF'),
 Row(CrimeCode='3NK'),
 Row(CrimeCode='3NO'),
 Row(CrimeCode='3P'),
 Row(CrimeCode='4A'),
 Row(CrimeCode='4B'),
 Row(CrimeCode='4C'),
 Row(CrimeCode='4D'),
 Row(CrimeCode='4E'),
 Row(CrimeCode='5A'),
 Row(CrimeCode='5B'),
 Row(CrimeCode='5C'),
 Row(CrimeCode='5D'),
 Row(CrimeCode='5E'),
 Row(CrimeCode='5F'),
 Row(CrimeCode='5G'),
 Row(CrimeCode='6A'),
 Row(CrimeCode='6B'),
 Row(CrimeCode='6C'),
 Row(CrimeCode='6D'),
 Row(CrimeCode='6E'),
 Row(CrimeCode='6F'),
 Row(CrimeCode='6G'),
 Row(CrimeCode='6H'),
 Row(CrimeCode='6J'),
 Row(CrimeCode='6K'),
 Row(CrimeCode='6L'),
 Row(CrimeCode='7A'),
 Row(CrimeCode='7B'),
 Row(CrimeCode='7C'),
 Row(CrimeCode='8AO'),
 Row(CrimeCode='8AV'),
 Row(CrimeCode='8BO'),
 Row(CrimeCode='8BV'),
 Row(CrimeCode='8CO'),
 Row(CrimeCode='8CV'),
 Row(CrimeCode='8DO'),
 Row(CrimeCode='8EO'),
 Row(CrimeCode='8EV'),
 Row(CrimeCode='8FO'),
 Row(CrimeCode='8FV'),
 Row(CrimeCode='8GO'),
 Row(CrimeCode='8GV'),
 Row(CrimeCode='8H'),
 Row(CrimeCode='8I'),
 Row(CrimeCode='8J'),
 Row(CrimeCode='9S')]

In [12]:
from pyspark.sql.functions import *
df1.select('CrimeCode').groupBy('CrimeCode').agg(count('CrimeCode').alias('crime_count')).sort('crime_count', ascending=False).collect()

[Row(CrimeCode='4E', crime_count=91650),
 Row(CrimeCode='6D', crime_count=68427),
 Row(CrimeCode='5A', crime_count=43928),
 Row(CrimeCode='7A', crime_count=40274),
 Row(CrimeCode='6J', crime_count=27636),
 Row(CrimeCode='6G', crime_count=26858),
 Row(CrimeCode='6E', crime_count=24300),
 Row(CrimeCode='6C', crime_count=23227),
 Row(CrimeCode='4C', crime_count=22438),
 Row(CrimeCode='5D', crime_count=14971),
 Row(CrimeCode='3AF', crime_count=14739),
 Row(CrimeCode='4B', crime_count=14460),
 Row(CrimeCode='4A', crime_count=13226),
 Row(CrimeCode='3B', crime_count=10737),
 Row(CrimeCode='4D', crime_count=7232),
 Row(CrimeCode='5B', crime_count=6475),
 Row(CrimeCode='9S', crime_count=5443),
 Row(CrimeCode='6F', crime_count=5081),
 Row(CrimeCode='5C', crime_count=4917),
 Row(CrimeCode='6B', crime_count=4106),
 Row(CrimeCode='3CF', crime_count=3771),
 Row(CrimeCode='2A', crime_count=3168),
 Row(CrimeCode='3AJF', crime_count=3018),
 Row(CrimeCode='3AK', crime_count=2982),
 Row(CrimeCode='3K', crime_count=2833),
 Row(CrimeCode='7C', crime_count=2725),
 Row(CrimeCode='1A', crime_count=2624),
 Row(CrimeCode='3AO', crime_count=2473),
 Row(CrimeCode='5F', crime_count=2182),
 Row(CrimeCode='3JF', crime_count=1815),
 Row(CrimeCode='3D', crime_count=1432),
 Row(CrimeCode='5E', crime_count=1419),
 Row(CrimeCode='6L', crime_count=1205),
 Row(CrimeCode='8H', crime_count=1051),
 Row(CrimeCode='3P', crime_count=873),
 Row(CrimeCode='3GF', crime_count=789),
 Row(CrimeCode='6A', crime_count=781),
 Row(CrimeCode='3BJ', crime_count=754),
 Row(CrimeCode='3CK', crime_count=591),
 Row(CrimeCode='3CO', crime_count=516),
 Row(CrimeCode='3NF', crime_count=441),
 Row(CrimeCode='3JK', crime_count=423),
 Row(CrimeCode='8AO', crime_count=413),
 Row(CrimeCode='3JO', crime_count=413),
 Row(CrimeCode='2B', crime_count=355),
 Row(CrimeCode='7B', crime_count=287),
 Row(CrimeCode='8J', crime_count=279),
 Row(CrimeCode='3H', crime_count=261),
 Row(CrimeCode='1K', crime_count=230),
 Row(CrimeCode='3AJO', crime_count=224),
 Row(CrimeCode='6H', crime_count=222),
 Row(CrimeCode='3J', crime_count=210),
 Row(CrimeCode='1O', crime_count=191),
 Row(CrimeCode='3EF', crime_count=176),
 Row(CrimeCode='3N', crime_count=176),
 Row(CrimeCode='3AJK', crime_count=172),
 Row(CrimeCode='8FO', crime_count=154),
 Row(CrimeCode='3GO', crime_count=131),
 Row(CrimeCode='3M', crime_count=121),
 Row(CrimeCode='8AV', crime_count=121),
 Row(CrimeCode='3F', crime_count=120),
 Row(CrimeCode='3NK', crime_count=120),
 Row(CrimeCode='3GK', crime_count=116),
 Row(CrimeCode='8BO', crime_count=104),
 Row(CrimeCode='3LF', crime_count=97),
 Row(CrimeCode='3NO', crime_count=83),
 Row(CrimeCode='8EO', crime_count=77),
 Row(CrimeCode='8I', crime_count=50),
 Row(CrimeCode='3EO', crime_count=45),
 Row(CrimeCode='3EK', crime_count=41),
 Row(CrimeCode='3LO', crime_count=35),
 Row(CrimeCode='8BV', crime_count=26),
 Row(CrimeCode='8GO', crime_count=24),
 Row(CrimeCode='5G', crime_count=21),
 Row(CrimeCode='8CO', crime_count=13),
 Row(CrimeCode='8EV', crime_count=10),
 Row(CrimeCode='8FV', crime_count=9),
 Row(CrimeCode='6K', crime_count=7),
 Row(CrimeCode='8GV', crime_count=7),
 Row(CrimeCode='8CV', crime_count=7),
 Row(CrimeCode='3E', crime_count=6),
 Row(CrimeCode='3LK', crime_count=5),
 Row(CrimeCode='3C', crime_count=4),
 Row(CrimeCode='8DO', crime_count=3),
 Row(CrimeCode='3L', crime_count=1)]

In [13]:
df1.select('Neighborhood').groupBy('Neighborhood').count().sort('count', ascending=False).take(1)

[Row(Neighborhood='DOWNTOWN', count=17799)]

In [14]:
df1.groupBy(month(df1.CrimeDateTime)).count().sort('count', ascending=False).select('month(CrimeDateTime)', 'count').collect()

[Row(month(CrimeDateTime)=8, count=46327),
 Row(month(CrimeDateTime)=10, count=46205),
 Row(month(CrimeDateTime)=7, count=45979),
 Row(month(CrimeDateTime)=5, count=45035),
 Row(month(CrimeDateTime)=6, count=44986),
 Row(month(CrimeDateTime)=9, count=44819),
 Row(month(CrimeDateTime)=1, count=42226),
 Row(month(CrimeDateTime)=11, count=42033),
 Row(month(CrimeDateTime)=12, count=41594),
 Row(month(CrimeDateTime)=4, count=40012),
 Row(month(CrimeDateTime)=3, count=38648),
 Row(month(CrimeDateTime)=2, count=35294)]

In [15]:
df1.select('Weapon').distinct().show()

+-------+
| Weapon|
+-------+
|     NA|
|   null|
|  HANDS|
|  KNIFE|
|  OTHER|
|   FIRE|
|FIREARM|
+-------+

In [16]:
invalid=['NA', 'OTHER']
df1.filter(~df1.Weapon.isin(invalid)).select('Weapon').groupBy('Weapon').count().sort('count', ascending=False).show(3)

+-------+-----+
| Weapon|count|
+-------+-----+
|FIREARM|46139|
|  KNIFE|19140|
|  HANDS| 7232|
+-------+-----+
only showing top 3 rows